.mainwrapper{
  width:100vw;
  height: 100vh;
  background-image: linear-gradient(#561D6C,#0252B2);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.subwrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title{
  font-family: var(--font-pure-joy);
  color: white;
  text-shadow:0px 10px black;
  z-index: 1;
  /* display: flex;
  flex-direction: row; */
}

.subtitle{
  font-family: var(--font-bangers);
  color:#FCFAC2;
  z-index: 1;
  text-align: center;
}

.description{
  font-family: var(--font-patrick-hand) ;
  color: white;
  margin: 15px;
  text-align: center;
  z-index: 1;
}

.cloud1{
  position: absolute;
}

.marv1{
  position: absolute;
  
}

.cloud2{
  position: absolute;
}

.marv2{
  position: absolute;
  transform: scaleX(-1);
}


@media screen and (max-width:500px) {

  .title{
    font-size: 100px;
  }

  .subtitle{
    font-size: 50px;
  }

  .description{
    font-size: 18px;
    line-height: 24px;
  }

  .mainwrapper{
    max-height: 800px;
    min-height: 700px;
    min-width: 320px;
  }

  .subwrapper{
    min-width: 320px;
    overflow: hidden;
  }

  /* .marv1{
    width:auto;
    height:115px;
    object-fit: contain;
    transform: translateY(-20px);
  } */

  .cloud1{
    height: 50px;
    top: 10px;
    left: 0px;
  }

  .marv1{
    height: 90px;
    top:80px;
    right:0px;
  }

  .cloud2{
    height:45px;
    top: 10px;
    right: 0px;
  }

  .marv2{
    height: 90px;
    top:150px;
    left:0px;
  }
}

@media screen and (min-width:501px) and (max-width:1024px) {
  .title{
    font-size: 125px;
  }

  .subtitle{
    font-size: 40px;
  }

  .description{
    font-size: 20px;
    line-height: 30px;
  }

  .mainwrapper{
    max-height: 800px;
    min-height: 700px;
  }

  /* .subwrapper{
    min-width: 320px;
  } */

  .cloud1{
    height: 80px;
    top: 10px;
    left: 10px;
  }

  .marv1{
    height: 130px;
    top:100px;
    right:0px;
  }

  .cloud2{
    height: 70px;
    top: 10px;
    right: 10px;
  }

  .marv2{
    height: 130px;
    top:150px;
    left:0px;
  }

  /* .marv1{
    width:auto;
    height:140px;
    object-fit: contain;
    transform: translateY(-20px);
  } */
}

@media screen and (min-width:1025px){

    .title{
      font-size: 220px;
    }

    .subtitle{
      font-size: 56px;
    }

    .description{
      font-size: 28px;
      line-height:45px;
    }

    .mainwrapper{
      max-height: 850px;
      min-height: 800px;
    }
  
    .subwrapper{
      max-width: 2200px;
    }

    /* .marv1{
      width:auto;
      height:230px;
      object-fit: contain;
      transform: translateY(-20px);
    } */

    .cloud1{
      height: 120px;
      top: 10px;
      left: 10px;
    }
  
    .marv1{
      height: 175px;
      top:160px;
      right:20px;
    }
  
    .cloud2{
      height:100px;
      top: 10px;
      right: 10px;
    }
  
    .marv2{
      height:175px;
      top:250px;
      left:20px;
    }
}