.mainwrapper{
  width:100vw;
  height:100vh;
  background-image: linear-gradient(#0252B2,#561D6C);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.subwrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px 20px; */
  position: relative;
}

.title{
  height: 20%;
  font-family: var(--font-pure-joy);
  color: white;
  text-shadow:0px 10px black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
  height: 1px;
  width: 75%;
  background-color: white;
}

.body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("../../public/marv-travelling.gif");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  gap: 5%;
  margin-top: 10%;
}

.description1wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10%;
}

.description2wrapper{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 12%;
  gap: 3%;
}

.description3wrapper{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 12%;
  gap: 3%;
}

.description1{
  font-family: var(--font-bangers);
  border: 2px solid white;
  border-radius: 10px;
  width: 40%;
  box-sizing: border-box;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buymarv{
  width: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-bangers);
  /* margin: 10px;
  box-sizing: border-box; */
}

.contractaddwrapper{
  width: 70%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.contractadd{
  width: 90%;
  display: flex;
  flex-direction: row;
  font-family: var(--font-bangers);
  border: none;
}

.copyiconwrapper{
  /* margin:10px; */
  box-sizing:border-box;
  border:none;
  border-radius:10px;
}

.marvtext{
  font-family: var(--font-pure-joy);
  color: white;
}

.jointext{
  font-family: var(--font-patrick-hand-SC);
  color: white;
}

.metricstitle,.gopolatitle{
  font-family: var(--font-pure-joy);
  color: white;
}

.metricslist,.gopolalist{
  font-family: var(--font-patrick-hand-SC);
  color: white;
}

.socialicons{
  box-sizing: border-box;
  border-radius: 100px;
}

@media screen and (max-width:500px) {
  .title{
    font-size: 50px;
  }

  .mainwrapper{
    max-height: 350px;
    min-height: 330px;
    min-width: 320px;
  }

  .subwrapper{
    min-width: 320px;
  }

  .marvtext{
    font-size: 30px;
  }

  .jointext{
    font-size: 14px;
  }

  .contractadd{
    font-size: 16px;
  }

  .socialicons{
    height: 15px;
    width: 15px
  }

  .metricstitle,.gopolatitle{
    font-size: 18px;
    font-family: var(--font-pure-joy);
  }

  .metricslist,.gopolalist{
    font-size: 14px;
  }

  .buymarv{
    font-size: 16px;
  }
}

@media screen and (min-width:501px) and (max-width:1024px) {
  .title{
    font-size: 90px;
  }

  .mainwrapper{
    max-height:500px;
    min-height:400px;
  }

  .subwrapper{
    max-width: 2000px;
  }

  .body{
    

  }

  .description1{
    font-size: 20px;
  }

  .description2wrapper{
    font-size: 24px;
  }

  .marvtext{
    font-size: 45px;
  }

  .jointext{
    font-size: 16px;
  }

  .metricstitle,.gopolatitle{
    font-size: 20px;
    font-family: var(--font-pure-joy);
  }

  .metricslist,.gopolalist{
    font-size: 16px;
  }

  .contractadd{
    font-size: 20px;
  }

  .socialicons{
    height: 20px;
    width: 20px;
  }

}

@media screen and (min-width:1025px) {
    .title{
      font-size: 140px;
    }

    .mainwrapper{
      max-height:900px;
      min-height:800px;
    }
  
    .subwrapper{
      max-width: 2000px;
    }

    .body{
      

    }

    .description1{
      font-size: 24px;
    }

    .description2wrapper{
      font-size: 24px;
    }

    .marvtext{
      font-size: 70px;
    }
  
    .jointext{
      font-size: 20px;
    }

    .metricstitle,.gopolatitle{
      font-size: 28px;
      font-family: var(--font-pure-joy);
    }

    .metricslist,.gopolalist{
      font-size: 24px;
    }

    .contractadd{
      font-size: 24px;
    }

    .socialicons{
      height: 24px;
      width: 24px;
    }
    
}




