.header{
  width:100vw;
  height: 100vh;
  background-image: linear-gradient(#0252B2,#561D6C);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.headerwrapper{
  margin-top: 10px;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar{
  /* height: 10%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7.5%;
  font-family: var(--font-bangers);
  color: white;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.25); */
  border-radius: 100px;
  justify-content: center;
}

.navwrapper{
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius:100px;
  display:flex;
  padding: 0 5%
}

.navOptions{
  position:absolute;
  background-color:white;
  width:100%;
  transition: height 0.5s;
  box-sizing: border-box;
  padding: 15px;
}

.titlecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title{
  font-family:var(--font-pure-joy);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buynowwrapper{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.buynowbutton{
  background-image:linear-gradient(#015624,#01A143);
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
  border-color: black;
  border-width: 1vmin;
  border: 3px solid black;
}
.buynowtext{
  color: white;
  font-family: var(--font-bangers);
}

.subtitle{
  text-align:center;
  font-family:var(--font-patrick-hand);
  color:white;
}

.bgwrapper{
  display:flex;
  flex-direction:column;
  justify-content:end
}

.bg{
  width: 100%;
  height:auto;

}

.hoverimg{
  width: auto;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 10%;
  opacity: 0;
  transition: opacity 0.25s, top 0.25s;
}

.M,.A,.R,.V{
  color:white;
  text-shadow:0px 10px black;
  transition: transform 0.25s;
  position: relative;
}

.marv_m{
  position: absolute;
  height: 110px;
  top: 15%;
  left: 0;
  transform: translate(0%, 0);
  z-index: -1;
  opacity: 0;
  transition: transform 0.25s,opacity 0.1s;
}

.marv_a{
  position: absolute;
  height: 100px;
  top: 0%;
  left: 0;
  transform: translate(30%, 0);
  z-index: -1;
  opacity: 0;
  transition: transform 0.25s,opacity 0.1s;
}

.marv_r{
  position: absolute;
  height: 110px;
  top: 0%;
  left: 0;
  transform: translate(145%,150%);
  z-index: -1;
  opacity: 0;
  transition: transform 0.25s,opacity 0.1s;
}

.marv_v{
  position: absolute;
  height: 110px;
  top: 0%;
  left: 0;
  transform: translate(100%, 86%);
  z-index: -1;
  opacity: 0;
  transition: transform 0.25s,opacity 0.1s;
}

.M{
  transform:rotate(-6deg) translate(0px, 5px);
}

.A{
  transform:rotate(356deg) translate(0px, -3px);
}

.R{
  transform:rotate(1deg) translate(0px, 0px);
}

.V{
  transform:rotate(4deg) translate(0px, 5px);
}

.socialicons{
  width:24px;
  height:auto;
  object-fit:contain;
  border-radius:100px;
}

.navitem{
  font-size: 24px;
}

.navbarbuynow{
  font-size: 20px;
  color: white;
  font-family: var(--font-bangers);
}

.navoptionswrapper{
  display:flex;
  flex-direction:row;
  gap:15px;
  align-self:center
}

.socialwrapper{
  display:flex;
  flex-direction:row;
  gap:5%;
  justify-content:end;
  align-self:center
}

@media screen and (max-width:500px) {

  .title{
    font-size: 100px;
    /* height: 40%; */
  }

  .titlecontainer{
    height: 40%;
  }

  .bgwrapper{
    height:50%;
  }

  .buynowtext{
    font-size: 18px;
  }

  .header{
    max-height: 750px;
    min-height: 700px;
    min-width: 320px;
  }

  .headerwrapper{
    min-width: 320px;
  }

  .subtitle{
    font-size:20px;
    max-width:350px;
  }

  .navbar{
    font-size: 16px;
    justify-content: left
  }

  .marv_a,.marv_m,.marv_r,.marv_v{
    display: none;
  }
}

@media screen and (min-width:501px) and (max-width:1024px){

  .title{
    font-size: 150px;
    /* height: 40%; */
  }

  .titlecontainer{
    height: 50%;
  }

  .bgwrapper{
    height:50%;
  }

  .buynowtext{
    font-size: 28px;
  }

  .header{
    max-height: 850px;
    min-height: 750px;
    min-width: 320px;
  }

  .headerwrapper{
    min-width: 320px;
  }

  .subtitle{
    font-size:20px;
    max-width:500px;
  }

  .navbar{
    font-size: 16px;
  }

  .navoptionswrapper{
    width: 100%;
    justify-content: center;
  }

  .socialwrapper{
   display: none;
  }

  .navwrapper{
    width:90%;
  }

  .navitem{
    font-size:16px;
  }

  .marv_a,.marv_m,.marv_r,.marv_v{
    display: none;
  }
}

@media screen and (min-width:1025px) {

  .title{
    font-size: 240px;
  }

  .titlecontainer{
    height: 60%;
  }

  .bgwrapper{
    height:30%;
  }

  .buynowtext{
    font-size: 40px;
  }

  .header{
    max-height: 1200px;
    min-height: 1100px;
  }

  .headerwrapper{
    max-width: 2200px;
  }

  .subtitle{
    font-size:28px;
    max-width:700px;
  }

  .navbar{
    font-size: 30px;
  }

  .navoptionswrapper{
    width: 70%;
  }

  .socialwrapper{
    width: 30%;
  }

  .navwrapper{
    width:85%;
  }

  .M:hover .marv_m{
    transform: translate(-80%, 0);
    opacity: 1;
  }

  .A:hover .marv_a{
    transform: translate(30%, -68%);
    opacity: 1;
  }

  .R:hover .marv_r{
    transform: translate(145%, 168%);
    opacity: 1;
  }

  .V:hover .marv_v{
    transform:translate(130%, 86%);
    opacity: 1;
  }

  /* .title:hover .hoverimg{
    top: -54%;
    opacity: 1;
    transform: rotate(293deg) translateY(-50%);
    transition: opacity 0.25s, bottom 0.25s;
  }
  
  .title:hover .M{
    transform:rotate(271deg) translate(0px, 0px)
  }
  
  .title:hover .A{
    transform:rotate(179deg) translate(0px, 4px)
  }
  
  .title:hover .R{
    transform:rotate(89deg) translate(-27px, -20px)
  }
  
  .title:hover .V{
    transform:rotate(178deg) translate(-20px, 17px)
  } */
}