.mainwrapper{
  width:100vw;
  height:100vh;
  background-image: linear-gradient(#561D6C,#0252B2);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.subwrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px 20px; */
  position: relative;
  overflow: hidden;
}

.title{
  font-family: var(--font-pure-joy);
  color: white;
  text-shadow:0px 10px black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.componentbody{
  width: 90%;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  box-sizing: border-box;
  padding:15px;
}

.frame{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.frameimage{
  width:auto;
  align-self:center;
  z-index: 1;
}

.marvfacewrapper{
  display:flex;
  position:absolute;
  flex-direction:column;
  transition: top 0.25s;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #7349c7;
}

.marvface{
  height: auto;
}

.download{
  margin:5px;
  color: white;
  font-family: var(--font-bangers);
  opacity: 0;
  transition: opacity 0.25s;
}

.frame:hover .download{
  opacity: 1;
}

.marv_posing,.marv_cameraman{
  height: auto;
  position: absolute;
}

@media screen and (max-width:500px) {
  .title{
    font-size: 40px;
    height: 10%;
  }

  .mainwrapper{
    max-height: 950px;
    min-height: 950px;
    min-width: 320px;
  }

  .subwrapper{
    min-width: 320px;
  }

  .componentbody{
    height: 87%;
    grid-template-columns: repeat(2,1fr);
  }

  .frameimage{
    height:115px;
  }

  .marvfacewrapper{
    top:-15px;
  }

  .marvface{
    width:50px;
  }

  .download{
    opacity: 1;
    font-size: 14px;
  }

  .marv_posing,.marv_cameraman{
    display: none;
  }

}

@media screen and (min-width:501px) and (max-width:1024px) {

  .componentbody{
    row-gap: 50px;
  }

  .title{
    font-size: 55px;
    height: 10%;
  }

  .mainwrapper{
    max-height: 1500px;
    min-height: 1500px;
  }

  .componentbody{
    height: 85%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
  }

  .frameimage{
    height:200px;
  }

  .marvfacewrapper{
    top:-40px;
  }

  .marvface{
    width:75px;
  }


  .download{
    opacity: 1;
  }

  .marv_posing{
    top: 20px;
    width: 150px;
    left: -10px;
  }

  .marv_cameraman{
    top: 20px;
    width: 130px;
    right: 10px;
  }

}

@media screen and (min-width:1025px) {
  .title{
    font-size: 115px;
    height: 15%;
  }

  .subwrapper{
    max-width: 2200px;
  }

  .mainwrapper{
    max-height: 1400px;
    min-height: 1400px;
  }

  .componentbody{
    height: 85%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
  }

  .frameimage{
    height:275px;
  }

  .marvfacewrapper{
    top:20px;
  }

  .marvface{
    width: 100px;
  }

  .frame:hover .marvfacewrapper{
    top:-5px
  }

  .marv_posing{
    top: 20px;
    width: 180px;
    left: -10px;
  }

  .marv_cameraman{
    top: 20px;
    width: 160px;
    right: 10px;
  }
}
